---
import Layout from '../layouts/Layout.astro'
import { Main } from '../components/Main'
---

<Layout title='traQ Theme Downgrater'>
  <main class='h-full'>
    <h1 class=''>traQ Theme Downgrater</h1>
    <p>v2 の traQ のテーマを v1 テーマに変換します</p>
		<p>変換といいつつ v1 にない機能を消してるだけなので、完全再現は ex-traQ のアップデートを待ってください :gahaha:</p>
    <Main client:load />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 800px;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
